.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rebeccapurple;
  height: 50px;
  color: white;
  font-weight: bold;
}

.btn-spoiler {
  font-size: 1em;
  line-height: 16px;
  color: #ECEFF1;
  cursor: pointer;
  padding: 5px 7.5px 7.5px 6.5px;
  background-color: #546E7A;
}

.spoiler-text {
  display: none;
  margin: 0;
  padding: 10px;
  background-color: #CFD8DC;
}
